@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap");

/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  transition: all 3s linear;
}
.container {
  max-width: 1430px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
.bg__img {
  background-image: url(../images/home-bg.jpg);
  width: 100%;
  height: 900px;
}
.section__styles {
  font-size: 16px;
  font-weight: 500;
}
.home__styles {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.title {
  font-size: 40px;
  font-weight: 700;
}
ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
li {
  list-style: none;
  color: #fff;
}
a {
  text-decoration: none;
}
/* header styles starts */
.header {
  padding: 20px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__sign {
  color: #fff;
  background: none;
  border: none;
}
.header__btn {
  color: #050b20;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 46px;
  border: none;
}
/* header styles ens=ds */
/*  *home section starts */
.home {
  padding: 40px 0;
  text-align: center;
  color: #fff;
}
.home__wrapper {
  margin-top: 150px;
}
.home__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  margin: 30px 0;
}
.home__type {
  display: flex;
  gap: 20px;
  margin-left: 45%;
}
.home__search {
  width: 930px;
  height: 75.75px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 100px;
  border-radius: 80px;
  padding: 10px;
  color: #050b20;
  margin-left: 250px;
}
.home__search--title {
  margin-left: 20px;
}

.home__btn {
  background-color: #405ff2;
  border-radius: 60px;
  padding: 20px;
  border: none;
  color: #fff;
  width: 215px;
}
.home__p {
  margin: 20px 0;
}
.home__car--type {
  display: flex;
  align-items: center;
  margin-left: 450px;
}
.home__car--type-btn {
  display: flex;
  gap: 15px;
  background: none;
  border: none;
  color: #ffffff;
  padding: 16px 8px;
  border-radius: 44px;
  backdrop-filter: 10%;
}
/* home section ends */
/* listing styles starts */
.listing {
  padding: 40px 0;
}
.listing__wrapper {
  position: relative;
  bottom: 70px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px 0;
  background-color: #f9fbfc;
}
.listing__top {
  display: flex;
  margin: 30px 25px;
  justify-content: space-between;
}
.listing__subtitle {
  font-size: 1;
}
.listing__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}
.listing__btn {
  margin: 20px 0;
  cursor: pointer;
  width: 209px;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #e9e9e9;
  border-radius: 16px;
}
.listing__btn > h4 {
  text-align: center;
}
/* listing styles ends */
/* shop styles starts */
.shop {
  padding: 40px 0;
}
.shop__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop__subtitle {
  display: flex;
  gap: 10px;
}
.shop__navigation,
.type__navigation {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #e9e9e9;
  margin: 20px 0;
}
.shop__navigation--title {
  cursor: pointer;
  margin-bottom: 20px;
  color: #050b20;
}
.shop__bottom {
  display: flex;
  gap: 50px;
}
.shop__card {
  margin-top: 20px;
  width: 328px;
  height: 433.1400146484375px;
  border-radius: 16px;
  border: 1px solid #e9e9e9;
  line-height: 160%;
}
.shop__card--box {
  display: flex;
  align-items: center;
  gap: 140px;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.shop__card--subtitle,
.shop__card--subtitle2 {
  background-color: #3d923a;
  border-radius: 30px;
  padding: 10px;
  color: #ffffff;
  width: 110.37999725341797px;
}
.shop__card--subtitle2 {
  background-color: #405ff2;
}
.shop__card--box-img {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 30px;
}
.shop__img,
.shop__img2 {
  height: 218.66000366210938px;
  border-radius: 16px 16px 0 0;
}
.shop__img2 {
  position: relative;
  bottom: 45px;
}
.shop__card--title,
.shop__card--title2 {
  padding: 0 30px;
}
.shop__card--title2 {
  position: relative;
  bottom: 45px;
}
.shop__card--p,
.shop__card--p2 {
  padding: 0 30px;
}
.shop__card--p2 {
  position: relative;
  bottom: 45px;
}
.shop__card--info,
.shop__card--info2 {
  padding: 0 30px;
  text-align: center;
  display: flex;
  width: 18px;
  justify-content: space-between;
  gap: 70px;
  text-align: center;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  width: 85%;
}
.shop__card--info2 {
  position: relative;
  bottom: 45px;
}
.shop__card--info--title {
  font-weight: 400;
  font-size: 14px;
  border: 0 1px 1px 1px solid #050b20;
}
.shop__card--price,
.shop__card--price2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  text-align: center;
  margin-top: 10px;
}
.shop__card--price2 {
  position: relative;
  bottom: 45px;
}
.shop__card--price--subtitle {
  color: #405ff2;
}
.shop__card--control {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 270px;
  right: 105.5%;
}
.shop__btn {
  background: none;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #e9e9e9;
  width: 60px;
}
/* shop styles ends */
/* about styles starts */
.about {
  padding: 40px 0;
}
.about__top {
  display: flex;
  align-items: center;
}
.about__img {
  width: 704.6900024414062px;
  height: 593.969970703125px;
}
.about__top--right {
  background-color: #eef1fb;
  width: 867px;
  padding: 90px 20px;
  color: #050b20;
  border-radius: 0 16px 16px 0;
}
.about__title {
  width: 547.3900146484375px;
}
.about__top--description {
  width: 547.3900146484375px;
  margin: 20px 0;
}
.about__top--list {
  display: flex;
  align-items: center;
  margin: 17px 0;
}
.about__top--img {
  background-color: #ffffff;
  border-radius: 12.5px;
  padding: 8px;
}
.about__btn {
  background-color: #405ff2;
  color: #ffffff;
  padding: 30px 0;
  border-radius: 12px;
  width: 158.94000244140625px;
  border: none;
}
.about__btn--title {
  margin-bottom: 25px;
}
.about__bottom {
  margin-top: 20px;
  display: flex;
  margin-left: 20%;
  gap: 120px;
  color: #050b20;
}
.about__bottom--list {
  text-align: center;
}
/* about styles ends */
/* popular styles starts */
.popular {
  padding: 40px 0;
  border-top: 2px solid #e1e1e1;
}
.popular__bottom {
  display: flex;
  margin: 30px 0;
  align-items: center;
}
.popular__card--title {
  font-size: 20px;
  font-weight: 500 bold;
  line-height: 24px;
  margin: 10px 0;
}
.popular__description {
  font-weight: 400;
}
/* popular styles ends */
/* type styles starts */
.type {
  padding: 100px 0;
  background-color: #050b20;
  color: #ffffff;
}
.type__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.type__navigation {
  border-bottom: 1px solid #ffffff30;
}
.type__bottom {
  display: flex;
  gap: 60px;
}
.type__card {
  display: flex;
  width: 685px;
  position: relative;
  right: 260px;
}
.type__card2 {
  position: relative;
  right: 390px;
}
.type__card--box {
  display: flex;
  align-items: center;
  z-index: 10;
  gap: 150px;
  position: relative;
  bottom: 100px;
  left: 270px;
}
.type__card--span {
  background-color: #405ff2;
  border-radius: 30px;
  padding: 7px 17px;
}
.type__img {
  border-radius: 16px 0 0 16px;
}
.type__card--right {
  background-color: #ffffff12;
  border-radius: 0 16px 16px 0;
  padding: 20px 5px;
  line-height: 170%;
}
.type__p {
  font-size: 14px;
  font-weight: 400;
  width: 266.8800048828125px;
}
.type__card--icon {
  margin-left: 28px;
}
del {
  margin-left: 28px;
}
.type__card--price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 28px;
}
.type__bottom-control {
  display: flex;
  align-items: center;
  position: relative;
  top: 190px;
  right: 124%;
}
/* type styles ends */
/* contact styles starts */
.contact {
  padding: 40px 0;
}
.contact__subtitle {
  display: flex;
  gap: 10px;
}
.contact__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__ul {
  display: block;
}
.contact__li {
  font-weight: 400;
  font-size: 15px;
  line-height: 27.75px;
  color: #050b20;
}
/* contact styles ends */
/* info styles starst */
.info {
  padding: 40px 0;
  background-color: #f9fbfc;
}
.info__top {
  display: flex;
  align-items: center;
  gap: 220px;
  margin-left: 115px;
}
.info__bottom {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__img {
  width: 348px;
  height: 370px;
}
.info__bottom--name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
}
.info__bottom--job {
  font-weight: 400;
  font-size: 15px;
  line-height: 27.75px;
}
.info__description {
  margin-top: 20px;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  width: 779.5172119140625px;
}
.info__btn {
  background-color: #ffffff;
}
/* info styles ends */
/* blog sytles starts */
.blog {
  padding: 40px 0;
}
.blog__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog__card--subtitle {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px 15px;
  line-height: 25.9px;

  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: 60px;
  left: 20px;
}
.blog__card--subtitle1 {
  width: 71.97000122070312px;
}
.blog__card--subtitle2 {
  width: 110.37999725341797px;
}
.blog__card--subtitle3 {
  width: 81.44999694824219px;
}
.blog__img {
  border-radius: 30px;
}
.blog__card--title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.blog__card--span {
  background-color: #e1e1e1;
  border-radius: 30px;
  padding: 4px;
}
.blog__card--description {
  font-size: 20px;
  font-weight: 500 bold;
  width: 425.3076477050781px;
  line-height: 30px;
}
/* blog styles ends */
/* hero styles starts */
/* hero styles ends */
